@font-face {
  font-family: "WorkSans";
  src: url(./assets/fonts/WorkSans-Variable.ttf);
  font-weight: 100 900;
  font-style: normal;
}

::selection {
  background: #FF4500;
  color: #FFFFFF;
}

::-moz-selection {
  background: #FF4500;
  color: #FFFFFF;
}


/* ---------- Dark / Light Mode ---------- */

body {
  --font-tech: bd-geminis, sans-serif;
  --font-body: "WorkSans", sans-serif;
  --font-weight: 500;  
  --font-weight-inverse: 400;
  --font-color-main: #1A1A1A;
  --font-color-inverse: #FFFFFF;
  --overlay-color: #FFFFFF;
  --line-color: #1A1A1A;
  --reddit-red: #FF4500;
}


body.dark {
  --font-weight: 400;
  --font-weight-inverse: 500;
  --font-color-main: #FFFFFF;
  --font-color-inverse: #161616;
  --overlay-color: #1A1A1A;
  --line-color: #808080;
  --reddit-red: #FF4500;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
 /* dark theme */
 body {
  --font-tech: bd-geminis, sans-serif;
  --font-body: "WorkSans", sans-serif;
  --font-weight: 400;
  --font-weight-inverse: 500;
  --font-color-main: #FFFFFF;
  --font-color-inverse: #161616;
  --overlay-color: #1A1A1A;
  --line-color: #808080;
  --reddit-red: #FF4500;
 }
 /* light theme */
 body.light {
  --font-weight: 500;
  --font-weight-inverse: 400;
  --font-color-main: #1A1A1A;
  --font-color-inverse: #FFFFFF;
  --overlay-color: #FFFFFF;
  --line-color: #1A1A1A;
  --reddit-red: #FF4500;
 }
}


/* --------------------------------------- */

*,
*:after,
*:before {
  box-sizing: border-box;
  /* Chrome active link highlight color */
  /* -webkit-tap-highlight-color: rgba(255,255,255,0.4); */
}

html {
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
  padding: 0;
  background-color: var(--font-color-inverse);
  color: var(--font-color-main);
  font-family: var(--font-body);
  font-size: clamp(18px, 2.75vmin, 24px);
  font-weight: var(--font-weight);
  line-height: 1.25;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

header {
  width: 100%;
  padding: 1.5rem 1.75rem;
  font-size: clamp(40px, 8.6vw, 120px);
  line-height: 1;
  font-family: var(--font-tech);
  z-index: 0;
}

@media screen and (min-width: 720px) {
  .container {
    height: 100%;
    padding: 4vh 0 0 0;
    align-items: center;
    justify-content: center;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.header__title {
  margin: 0 2rem 0 0;
}

.arrow {
  float: left;
  display: flex;
  align-items: baseline;
  width: clamp(28px, 7vw, 92px);
  height: clamp(28px, 7vw, 92px);
  margin: 0 0.1em 0.15em -0.1em;
}

.arrow svg {
  flex: 1 1 100%;
  height: 100%;
}

.arrow svg path {
  fill: var(--font-color-main);
}

.header__link {
  color: currentColor;
  text-decoration: none;
}

.header__link:hover #arrow {
  fill: var(--reddit-red);
}

/* ------ Toggle controls ------ */

.modecontrols {
  position: fixed;
  right: 0;
  top: 0;
  margin: 1.5rem 1.75rem;
  display: flex;
  align-items: center;
}

.modetoggle {
  display: none;
  font-size: 0.75em;
  padding: 0 0 0 1em;
  cursor: pointer;
}

.modetoggle.show {
  display: block;
}

.modeicon {
  display: block;
  background-color: #1A1A1A;
  border: 1px solid var(--font-color-main);
  border-radius: 100%;
  width: 24px;
  height: 24px;
  padding: 0 0 0 11px;
}

.modeicon:after {
  position: relative;
  content: '';
  display: block;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-color: var(--font-color-main);
  border-radius: 0 0.9em 0.9em 0;
  margin-top: -1px;
  width: 13px;
  height: 24px;
}

.modetoggle:hover .modeicon {
  background-color: #FFFFFF;
}

.modetoggle:hover .modeicon:after {
  background-color: #1A1A1A;
}

/* ------ cover canvas etc. ------ */

.button {
  position: absolute;
  left: calc(50% - 3em);
  top: calc(50% - 1em);
  width: 6em;
  border: 0;
  border-radius: 3px;
  background: #FFFFFF;
  color: #1A1A1A;
  font-family: var(--font-body), sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 2.25;
  white-space: nowrap;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
  z-index: 15;
}

.button:hover {
  background: var(--reddit-red);
  color: var(--font-color-inverse);
  font-weight: var(--font-weight-inverse);
}

.cover {
  position: relative;
  display: block;
  flex: 0 0 72vmin;
  height: 72vmin;
  background: transparent;
  background: #1a1a1a;
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.5);
  z-index: 8;
}

h1,
h2,
h3 {
  font-size: 1em;
  margin: 0;
  font-weight: 400;
  line-height: 1.05;
  font-family: var(--font-tech);
}

#canvas {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#canvas::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("./assets/noise.png");
  background-repeat: repeat;
  z-index: 12;
}

/* ------ loader ------ */

#p5_loading {
  top: calc(50% - 1em);
  left: calc(50% - 1em);
  z-index: 11;
  color: transparent;
  width: 2em;
  height: 2em;
  border: 2px solid var(--font-color-inverse);
  border-bottom-color: var(--font-color-main);
  border-left-color: var(--font-color-main);
  border-right-color: var(--font-color-main);
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ------ bottom "tab" bar ------ */

.control-bar {
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 8;
  background-color: var(--overlay-color);
}

.tab {
  display: inline-block;
  user-select: none;
  flex: 0 0 100%;
  text-align: center;
  line-height: 2.25;
  border-top: 1px solid var(--line-color);
}

@media screen and (min-width: 600px) {
  .control-bar {
    flex-flow: row;
    z-index: 11;
  }

  .tab {
    flex: 1 1 30%;
    order: 2;
  }
  
  #tabControls {
    order: 1;
  }
}

.tab-controls {
  cursor: pointer;
}

.tab-close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.tab.active {
  color: var(--font-color-inverse);
  background-color: var(--font-color-main);
  font-weight: var(--font-weight-inverse);
  border-color: var(--font-color-main);  /* here font colour not line colour is needed to prevent lines from "doubling" on mobile */
}

.▶ {
  flex: 0 1 0.66em;
  display: inline-block;
  margin: 0 0.33em 0 0;
}

.▶ svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.playlink {
  color: currentColor;
  text-decoration: none;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
}

#play {
  fill: var(--font-color-main);
}

@media only screen and (min-width: 480px) {
  .tab.active {
    border-color: var(--line-color); /* reverse special mobile styling */
  }
}

@media only screen and (min-width: 600px) {
  .tab.active:hover,
  .tab:hover {
    background-color: var(--reddit-red);
    color: var(--font-color-inverse);
    font-weight: var(--font-weight-inverse);
  }

  .playlink:hover #play {
    fill: var(--font-color-inverse);
  }
}

/* ------ tracklist ------ */

.tracklist {
  position: fixed;
  right: 0;
  top: 0;
  height: calc(100% - 2.25em);
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--overlay-color);
  list-style: none;
  z-index: 11;
  overflow-x: auto;
  overflow-y: scroll;
  border-bottom: 1px solid var(--line-color);
}

@media screen and (min-width: 600px) {
  .tracklist {
    height: calc(100% - 2.25em);
    border-left: 1px solid var(--line-color);
    width: clamp(480px, 50%, 600px);
  }
}

.tracklist__li {
  display: flex;
  margin: 0;
  min-height: 2.25em;
  border-bottom: 1px solid var(--line-color);
  transition: flex 0.4s ease;
  align-items: baseline;
}

/* counting backwards because there's display:none <li>s */
.tracklist__li:nth-last-child(-n + 2){
  margin-bottom: 4em;
}

.tracklist__header,
.tracklist__footer {
  background-color: var(--overlay-color);
  height: 2.25em;
  text-align: center;
}

.tracklist__header {
  top: 0;
  position: sticky;
  border-bottom: 1px solid var(--line-color);
  line-height: 2.25;
  padding: 0 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tracklist__placeholder {
  line-height: 1.25em;
  padding: 0.5em 1em;
}

.tracklist .number {
  display: block;
  height: 100%;
  flex: 0 0 2.5em;
  padding: 0.5em 0 0.5em 0.5em;
}

.tracklist .track {
  flex: 1 1 100%;
  padding: 0.5em 0.5em 0.5em 0;
}

/* ------ songs "key" ------ */

.color {
  display: block;
  flex: 1 0 3em;
  padding: 3px 4px 2px 4px;
  border-radius: 3px 4px;
  margin: 0.5em 0.75em 0.5em 0.5em;
  color: #1A1A1A;
  font-size: 0.8em;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.color::after {
  content: "released in...";
  display: block;
  position: fixed;
  z-index: 12;
  background-color: var(--font-color-main);
  color: var(--font-color-inverse);
  top: 0;
  right: 0;
  text-align: right;
  margin: 0.7em 0.5em;
  padding: 3px 4px;
  border-radius: 3px;
  font-weight: var(--font-weight-inverse);
  white-space: nowrap;
}

@media only screen and (min-width: 400px) {
  .color::after {
    display: none;
  }
}

.color:hover::after {
  display: block;
}

.year1960s {
  background-color: #d3a146;
}

.year1970s {
  background-color: var(--reddit-red);
}

.year1980s {
  background-color: #4a6add;
  color: #FFFFFF;
  font-weight: 420;
}

.year1990s {
  background-color: #383731;
  color: #FFFFFF;
  font-weight: 420;
}

.year2000s {
  background-color: #587756;
  color: #FFFFFF;
  font-weight: 420;
}

.year2010s {
  background-color: #e8debf;
}

.year2020s {
  background-color: #ff2ef1;
}

/* ------ slider controls ------ */

.controls {
  position: fixed;
  left: 0;
  top: 0;
  list-style: none;
  margin: 0;
  padding: 0 0 4em 0;
  width: 100%;
  height: calc(100% - 4.5em - 1px);
  background-color: var(--overlay-color);
  border-bottom: 1px solid var(--line-color);
  overflow-x: auto;
  overflow-y: scroll;
  z-index: 9;
}

@media screen and (min-width: 600px) {
  .controls {
    height: auto;
    height: calc(100% - 2.25em);
    width: clamp(320px, 33.4%, 400px);
    padding-bottom: 0;
    border-right: 1px solid var(--line-color);
    border-bottom: none;
  }
}

@media screen and (min-width: 800px) {
  .controls {
    height: auto;
    max-height: calc(100% - 2.25em);
  }
}

.controls__li {
  padding: 0.75em 0.75em 0.5em 0.75em;
  border-bottom: 1px solid var(--line-color);
}

/* if accent-color can be used... changes default input/slider colour */
@supports (accent-color: inherit) {
  input {
    accent-color: #ff2ef1; /* var(--reddit-red) */
  }
}

.radiogroup {
  display: block;
}

.radio,
.radiolabel {
  display: inline-block;
  line-height: 2;
  cursor: pointer;
}

.radiolabel {
  padding: 0 1em 0 0;
}

.sliderlabel {
  float: left;
  display: block;
}

.slider {
  width: 100%;
  height: 2.75em;
  margin: 0.25em 0 0 0;
}

@media screen and (min-width: 800px) {
  .slider {
    height: 1.5em;
  }
}

output {
  float: right;
}